body {
    /*text-align: center;*/
    width: 100%;
    font-size: 10pt;
	font-family: Verdana, Arial, MS Sans Serif;
	font-weight: normal;
	}
h3 {
	color: #C40000; /*red*/
	font-weight: bold;
	font-size: 110%;
	}

.MainHeading {
	color: #C40000; /*red*/
	font-weight: bold;
	font-size: 110%;
	}	
h4 {
	color: #C40000; /*red*/
	font-weight: bold;
	font-size: 100%;
	}
.SubHeading {
	color: #C40000; /*red*/
	font-weight: bold;
	font-size: 100%;
	}
h5 {
	color: black; /*red*/
	font-style: italic;
	font-size: 100%;
	}
.SubSubHeading {
	color: black; /*red*/
	font-style: italic;
	font-size: 100%;
	}
.DiffInsertedText {
		background-color: #ddefde;
		/*color: #003300;*/
	}
.DiffDeletedText {
		background-color: #efdddd;
		/*color: purple;*/
	}
.DiffSameText {
	}
.UL_NoBullets {
		list-style-type: none;
	}
