body {
}

.Level1, .Level1Selected
{
	border-bottom: solid 1px #cccccc;
	font-family: Verdana, MS Sans Serif, Arial;
	padding: 1px 1px 1px 1px;
	margin: 1px 1px 1px 1px;
	display: block;
	font-size: 9pt;
	color: #555555;
	list-style: none;
	white-space: normal;
	width: 160px;	}
.Level1:link, .Level1Selected:link, .Level1:visited, .Level1Selected:visited
{
	color: Black;
}
.Level1:hover, .Level1Selected:hover
{
	color: #ff0000;
}
.Level2, .Level2Selected
{
	/*border: solid 1px #cccccc;*/
	border-bottom: solid 1px #cccccc;
	padding: 1px 1px 1px 1px;
	display: block;
	margin: 1px 1px 1px 1px;
	font-size: 9pt;
	width: 140px;
}
.Level2:link, .Level2Selected:link, .Level2:visited, .Level2Selected:visited
{
	color: #232323;
}
.Level2:hover, .Level2Selected:hover
{
	color: #ff0000;
}
.Level3, .Level3Selected
{
	border: solid 1px #dddddd;
	padding: 1px 2px 1px 2px;
	/*background-color: #fcfcfc;*/
	margin: 1px 1px 1px 1px;
	font-size: 8pt;
	width: 100px;
	display: block;
}
.Level3:link, .Level3:visited
{
  /* WLOO:2012-04-27:EMICHNIE:Undergrad color changed as per new request(accessibility concerns)  */
  / * color: #555555; */ 
      color: black;
	
}
.Level3:hover
{
	color: #ff0000;
	background-color: #efefef;
}
.Level4Plus, .Level4PlusSelected
{
	border: solid 1px #dddddd;
	padding: 1px 2px 1px 2px;
	/*background-color: #fcfcfc;*/
	margin: 1px 1px 1px 1px;
	font-size: 8pt;
	width: 100px;
	display: block;
}
.Level4Plus:link, .Level4Plus:visited
{
     /* WLOO:2012-04-27:EMICHNIE:Undergrad color changed as per new request(accessibility concerns)  */
     /*color: #555555; */
       color: black;
}
.Level4Plus:hover
{
	color: #ff0000;
	/*background-color: #efefef;*/
}

/*Main Content Section Table of Contents*/
.Level1Group, .Level1SelectedGroup
{
	border-bottom: solid 1px #cccccc;
	font-family: Verdana, MS Sans Serif, Arial;
	padding: 1px 1px 1px 1px;
	margin: 1px 1px 1px 1px;
	display: block;
	font-size: 10pt;
}
.Level1Group:link, .Level1SelectedGroup:link, .Level1Group:visited, .Level1SelectedGroup:visited
{
	color: Black;
}
.Level1Group:hover, .Level1SelectedGroup:hover
{
	color: #ff0000;
}
.Level2Group, .Level2SelectedGroup
{
	/*border: solid 1px #cccccc;*/
	border-bottom: solid 1px #cccccc;
	padding: 1px 1px 1px 1px;
	display: block;
	margin: 1px 1px 1px 1px;
	font-size: 9pt;
}
.Level2Group:link, .Level2SelectedGroup:link, .Level2Group:visited, .Level2SelectedGroup:visited
{
	color: Black;
}
.Level2Group:hover, .Level2SelectedGroup:hover
{
	color: #ff0000;
}
.Level3Group, .Level3SelectedGroup
{
	/*border-bottom: solid 1px #cccccc;*/
	padding: 1px 1px 1px 1px;
	/*background-color: #fcfcfc;*/
	margin: 1px 1px 1px 1px;
	font-size: 8pt;
}
.Level3Group:link, .Level3Group:visited
{
        /* WLOO:2012-04-27:EMICHNIE:Undergrad color changed to black as per new request(accessibility concerns)  */
	/* color: #555555; */
           color: black
}
.Level3Group:hover
{
	color: #ff0000;
}
.Level4PlusGroup, .Level4PlusSelectedGroup
{
	/*border-bottom: solid 1px #cccccc;*/
	padding: 1px 1px 1px 1px;
	/*background-color: #fcfcfc;*/
	margin: 1px 1px 1px 1px;
	font-size: 8pt;
}
.Level4PlusGroup:link, .Level4PlusGroup:visited
{
      /* WLOO:2012-04-27:EMICHNIE:Undergrad color changed to black as per new request(accessibility concerns)  */
      /* color: steelblue;*/
         color: black;
}
.Level4PlusGroup:hover
{
	color: #ff0000;
}
